<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    /* background-image: url(""); */
    background-image: url("https://cdn.wallpapersafari.com/60/84/yhk1gA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Selector{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    margin: 5px;
    text-decoration: none;
    
}
.cv a{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
button{
    background-color: blue;
    border-radius: 5px;
    padding: 5px;

}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    /* background-image: url(""); */
    background-image: url("https://cdn.wallpapersafari.com/60/84/yhk1gA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}

.Selector{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    margin: 5px;
    text-decoration: none;
    
}
.cv a{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
>>>>>>> 79fac563ef2150df4a7f031296ef6bd0837f147a
