*{
    box-sizing: border-box;

}
body{
    padding: 0;
    margin: 0;
    background-image: url("https://images.unsplash.com/7/Top_view.jpg?ixlib=rb-1.2.1");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  
}


.contact{
    margin-left: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
}
h2{
    justify-content: center;
    align-items: center;
    display: flex;
}
.home{
    height: 15rem;
}
.about-me{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 33%;
}
.navbar-brand{
    border: 1px solid white;

    padding: 0.3rem;
    border-radius: 15px;
}
.navbar-brand:hover{
    background-color: white;
}
nav{
    
position:absolute;

  top:0;
  left: 0;
  width: 100%;
  text-align: center;
}
nav > ul{
    display: inline-block;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  padding: 0 1.5em 0 1.5em;
}
section{
    border-bottom: 2px solid white;
    
}
#profile{
    float: right;
    margin-top: 1rem;
    transform: rotate(270deg);
    margin-left: 20rem;
    height: 8rem;
    border-radius: 40%;
    color: white;
}
.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cv a{
    text-decoration: none;
    color: white;
}


#education{
    border-top:0.2rem,solid white ;
   display: flexbox;
   align-items: center
    
    
}
#education h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgb(215, 215, 215);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

/* FOOTER */
  .footer{
    
    align-items: center;
    justify-content: center;
    display: flex;

    padding-bottom: 1rem;
    background-color: rgb(102, 98, 98);
}



.row img{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 2rem;
    
    
}
.row a{
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    
}
.row span{
    left:  5rem;
}

.card{
    display: inline-flex;
    margin: 0.1rem;

}
#card-holder{
    margin-left: 2rem;
}
#card-holder .card{
    background-color: blanchedalmond;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}
#text1,
#text2 {
    position: absolute;
    width: 70vw;
    display: flex;
    margin-top: -6.5rem;

    justify-content: center;
    align-items: center;
   
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: white;

    

    
}
