*{
    box-sizing: border-box;

}
body{
    padding: 0;
    margin: 0;
    background-image: url("https://cbeditz.com/large/11614501733afdajkuasiyefqgfwgscz9djcznpifh3yvbfyxudljoevgxjfft0bvqdjd9i0wdeb0xxkk8zs2plqprtscjw7rgilpgcplvblxil.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}

title {
    margin-top: -1rem;
    padding-top: 0;
    background-color: #68d7ff;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}
.contact{
    margin-left: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
}
h2{
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-me{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 33%;
}
#profile{
    float: right;
    margin-top: 2rem;
    transform: rotate(270deg);
    height: 8rem;
    border-radius: 40%;
}
.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cv a{
    text-decoration: none;
    color: white;
}

.footer{
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;

    padding-bottom: 1rem;
    background-color: rgb(102, 98, 98);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row a{
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    
}
.row img{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 2rem;
    
    
}
.row span{
    left:  5rem;
}
