*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 20px 0;
    background-image: url("https://t4.ftcdn.net/jpg/02/19/80/13/360_F_219801337_3kbasqLvgbUxAGVDH8QS35Sm4SEiPJFJ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
         
    background-attachment: fixed;
    
}
.card{
    max-width: 380px;
    
    border-radius: 2rem;
    width: 100%;
    transition: transform 0.5s;
}
.card:hover{
    transform: scale(1.05);
}
.team-logo{
    width: 30%;
    min-width: 50px;
    border-radius: 100%;
}