*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: radial-gradient(circle, #79076c, #ca1659, #f56330, #f3b300, #c0ff33);
    min-height: 100vh;
}
.clicks{
    border-radius: 1rem;
    padding: 0.5rem;
    
}
#box{
    background-color: wheat;
    border-radius: 40px;
    height: 20rem;
    width: 30rem;
    padding: 2rem;
    visibility: hidden;
}
label{
    justify-content: center;
    align-items: center;
    display: flex;
}
.pt-3{
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn{
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}
.btn:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn:focus {
    outline: none;
}
#box.show{
    visibility: visible;
}
.cross{
    float: right;
}
